.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60vw;
  padding-top: 200px;
  background: #9bb537;
}

.iconBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  padding: 0;
}

.navList {
  text-align: center;
  color: #fff;
}

.navList li:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: none;
  }
}
