.flexContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 52px;
}

.nav {
  display: none;
}

.list {
  display: flex;
  gap: 16px;
}

.logo {
  font-weight: 700;
}

.logoAccent {
  color: #9bb537;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.iconBtn {
  background: transparent;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  .burger {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .flexContainer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
