@import "modern-normalize";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.light {
  background: #fff;
  color: #050505;
}
body.dark {
  color: #fff;
  background: #050505;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: #050505;
  border-radius: 50%;
  opacity: inherit;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #9bb537;
}
